
@{
    ViewData["Title"] = "Panel administratora";
    Layout = "_LayoutAdmin";
}

<h1>@ViewData["Title"]</h1>

<div class="card m-5">
  <h5 class="card-header">Wszystkie książki</h5>
  <div class="card-body">
    <h5 class="card-title">Sprawdź które książki są dostępnę w tym momencie</h5>
    <a href="/Admin/GetBooks" class="btn btn-primary mt-2">Wszystkie książki</a>
  </div>
</div>
<div class="card m-5">
  <h5 class="card-header">Uczniowie</h5>
  <div class="card-body">
    <h5 class="card-title">Wszystkie dane o użytkownikach księgarni</h5>
    <a href="/Admin/GetStudents" class="btn btn-primary mt-2">Uczniowie</a>
  </div>
</div>
<div class="card m-5">
  <h5 class="card-header">Zaproponowane książki</h5>
  <div class="card-body">
    <h5 class="card-title">Pozycje, które uczniowie pragnęliby ujrzeć w szeregach biblioteki</h5>
    <a href="/Admin/GetSuggestedBooks" class="btn btn-primary mt-2">Sugerowane zakupy</a>
  </div>
</div>
<div class="card m-5">
  <h5 class="card-header">Rezerwacje</h5>
  <div class="card-body">
    <h5 class="card-title">Sprawdź, które pozycje zostały zarezerwowane!</h5>
    <a href="/Admin/GetReservations" class="btn btn-primary mt-2">Rezerwacje</a>
  </div>
</div>
