@model LibraryCodingNight.Models.Serie

@{
<<<<<<< HEAD
    ViewData["Title"] = "Create";
=======
    ViewData["Title"] = "Stwórz";
>>>>>>> ae22dcf3fd9bfab46e81952b099c359a4d839c53
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Stwórz</h1>

<h4>Seria</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SerieName" class="control-label"></label>
                <input asp-for="SerieName" class="form-control" />
                <span asp-validation-for="SerieName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SerieDescription" class="control-label"></label>
                <input asp-for="SerieDescription" class="form-control" />
                <span asp-validation-for="SerieDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
