@model LibraryCodingNight.Models.Serie

@{
    ViewData["Title"] = "Szczegóły";
}

<h1>Szczegóły</h1>

<div>
    <h4>Seria</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SerieName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SerieName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SerieDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SerieDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SerieId">Edytuj</a> |
    <a asp-action="Index">Powrót do listy</a>
</div>
