@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "Pobierz swoje dane";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
    Layout = "_LayoutProfile";
}

<h3>@ViewData["Title"]</h3>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
