@page
@model EmailModel
@{
    ViewData["Title"] = "Edytuj maila";
    ViewData["ActivePage"] = ManageNavPages.Email;
    Layout = "_LayoutProfile";
}

@section css {
    <style>
     .form-floating {
	 margin-block: 1.2em;
     }
    </style>
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
    <div class="row">
        <div class="col-md-6">
            <form id="email-form" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
            @if (Model.IsEmailConfirmed)
            {
                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" disabled />
                </div>
            }
            else
            {
                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" disabled />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Wyślij email weryfikacyjny</button>
                </div>
            }
            <div class="mb-3">
                <label asp-for="Input.NewEmail" class="form-label"></label>
                <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" />
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="w-100 btn btn-lg btn-primary">Zmień adres e-mail</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
