@page
@model IndexModel
@{
    ViewData["Title"] = "Profil";
    ViewData["ActivePage"] = ManageNavPages.Index;
    Layout = "_LayoutProfile";
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<div class="card m-5">
  <h5 class="card-header">Wszystkie książki</h5>
  <div class="card-body">
    <h5 class="card-title">Sprawdź które książki są dostępnę w tym momencie</h5>
    <a href="/Student/AllBooks" class="btn btn-primary mt-2">Wszystkie książki</a>
  </div>
</div>
<div class="card m-5">
  <h5 class="card-header">Zasugeruj zakup</h5>
  <div class="card-body">
    <h5 class="card-title">Zasugeruj bibliotece zakup wartościowej pozycji</h5>
    <a href="/Student/SuggestBook" class="btn btn-primary mt-2">Zasugeruj zakup</a>
  </div>
</div>
<div class="card m-5">
  <h5 class="card-header">Twoje rezerwacje</h5>
  <div class="card-body">
    <h5 class="card-title">Sprawdź, które pozycje zarezerwowałeś!</h5>
    <a href="/Student/Reservation" class="btn btn-primary mt-2">Twoje rezerwacje</a>
  </div>
</div>