@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Dane osobowe";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
    Layout = "_LayoutProfile";
}

@section css {
    <style>
     .btn {
	 margin-block: 0.6em;
     }
    </style>
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Twoje konto zawiera dane, które nam przekazałeś/aś w trakcie rejestracji. Ta strona umożliwia ci pobranie i usunięcie tychże danych.</p>
        <p>
            <strong>Usunięcie tych danych sprawi, że twoje konto zostanie permanentnie usunięte i nie będzie można go odzyskać.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Pobierz</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Usuń</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
