@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Zresetuj klucz uwierzytelniający";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
    Layout = "_LayoutProfile";
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Jeśli zresetujesz klucz uwierzytelniający, aplikacja uwierzytelniająca nie będzie działać, dopóki nie skonfigurujesz jej ponownie.</strong>
    </p>
    <p>
        Ten proces wyłącza 2FA, dopóki nie zweryfikujesz aplikacji uwierzytelniającej.
        Jeśli nie ukończysz konfiguracji aplikacji uwierzytelniającej, możesz utracić dostęp do swojego konta.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Zresetuj klucz uwierzytelniający</button>
    </form>
</div>
