@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Weryfikacja dwuetapowa (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
    Layout = "_LayoutProfile";
}

@section css {
    <style>
     .btn-primary, h4{
	 margin-top: 1.2em;
     }
    </style>
}


<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
@{
    var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
    @if (consentFeature?.CanTrack ?? true)
    {
        @if (Model.Is2faEnabled)
        {
            if (Model.RecoveryCodesLeft == 0)
            {
                <div class="alert alert-danger">
                    <strong>Nie masz dostępnych kodów odzyskiwania.</strong>
                    <p>Musisz <a asp-page="./GenerateRecoveryCodes">wygenerować nowe kody odzyskiwania</a> zanim zalogujesz się za pomocą swojego kodu.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
                <div class="alert alert-danger">
                    <strong>Posiadasz 1 kod odzyskiwania.</strong>
                    <p>Możesz <a asp-page="./GenerateRecoveryCodes">nowy zestaw kodów odzyskiwania</a>.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    <strong>Masz jeszcze @Model.RecoveryCodesLeft kodów odzyskiwania</strong>
                    <p>Powinieneś <a asp-page="./GenerateRecoveryCodes">wygenerować nowy zestaw kodów odzyskiwania</a>.</p>
                </div>
            }

            if (Model.IsMachineRemembered)
            {
                <form method="post" style="display: inline-block">
                    <button type="submit" class="btn btn-primary">Zapomnij tę przeglądarkę</button>
                </form>
            }
            <a asp-page="./Disable2fa" class="btn btn-primary">Wyłącz weryfikację dwuetapową</a>
            <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">Zresetuj kody odzyskiwania</a>
        }

        <h4>Aplikacja weryfikująca</h4>
        @if (!Model.HasAuthenticator)
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Dodaj aplikację weryfikującą</a>
        }
        else
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">Ustaw aplikację weryfikującą</a>
            <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">Zresetuj aplikację weryfikującą</a>
        }
    }
    else
    {
        <div class="alert alert-danger">
            <strong>Polityka prywatności oraz polityka dotycząca plików cookies nie zostały zaakceptowane</strong>
            <p>Musisz zaakceptować wyżej wymienione dokumenty, aby korzystać z weryfikacji dwuetapowej</p>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
