@page
@model ErrorModel
@{
    ViewData["Title"] = "Błąd";
}

<h1 class="text-danger">Błąd.</h1>
<h2 class="text-danger">Podczas przetwarzania żądania wystąpił błąd.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID żądania:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Tryb programisty</h3>
<p>
    Przejście do środowiska <strong>programistycznego</strong> spowoduje wyświetlenie bardziej szczegółowych informacji o wystąpieniu błędu.
</p>
<p>
    <strong>Środowisko programistyczne nie powinno być włączane we wdrożonych aplikacjach</strong>, ponieważ może to spowodować wyświetlenie poufnych informacji z wyjątków użytkownikom końcowym. W przypadku lokalnego debugowania środowisko programistyczne można włączyć, ustawiając zmienną środowiskową <strong>ASPNETCORE_ENVIRONMENT</strong> na <strong>Development</strong> i ponownie uruchamiając aplikację.
</p>
