@{
    ViewData["Title"] = "Polityka prywatności";
}
@section Links{
    <link rel="stylesheet" href="~/css/gradient.css" />
}
   
<div class="container">
    <h1>@ViewData["Title"]</h1>
    <p>Jedyne dane jakie zbieramy od naszych użytkowników to te, wymagane przy zakładaniu konta. Mianowicie:</p>
    <ul>
	<li>Adres e-mail - w celu wysyłania powiadomień i identyfikacji użytkownika</li>
	<li>Imię i nazwisko - w celu identyfikacji użytkownika</li>
	<li>Rodzaj działalności gospodarczej - w celu obliczenia stawki podatku PIT przy ryczałcie ewidencjonowanym</li>
	<li>Sposób płacenia podatku PIT - w celu obliczenia stawki tegoż podatku</li>
    </ul>
    <p>Nasza strona nie zbiera <strong>ŻADNYCH</strong> informacji służących do analizy aktywności użytkownika i nie dzieli się jakimikolwiek danymi ze stronami trzecimi (np. z reklamodawcami).</p>
</div>
