@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Rejestracja";
}

<h1>@ViewData["Title"]</h1>
<h2 id="external-login-title">Powiąż swoje @Model.ProviderDisplayName konto.</h2>
<hr />

<p id="external-login-description" class="text-info">
    Udało Ci się uwierzytelnić za pomocą <strong>@Model.ProviderDisplayName</strong>.
    Wprowadź poniżej adres e-mail tej witryny i kliknij przycisk Zarejestruj się, aby zakończyć logowanie.
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Zarejestruj się</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
