@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Zapomnienie hasła - potwierdzenie";
}

<h1>@ViewData["Title"]</h1>
<p>
    Sprawdź swoją skrzynkę e-mail, aby zresetować hasło.
</p>
