@page
@model LoginModel

@{
    ViewData["Title"] = "Zaloguj się";
}


<section class="projects-section bg-light">

        <div class="container px-4 px-lg-5">
            <center>
                <div class="col-md-4">
                    <section>
                        <form id="account" method="post">
                            <h2>Zaloguj się</h2>
                            <hr/>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="mb-3">
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email"/>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Hasło"/>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div>
                                <div class="checkbox">
                                    <label asp-for="Input.RememberMe" class="form-label">
                                        <input class="form-check-input" asp-for="Input.RememberMe"/>
                                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                                    </label>
                                </div>
                            </div>
                            <div style="padding-bottom: 10px;">
                                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Zaloguj się</button>
                            </div>
                            <div>
                                <p>
                                    <a id="forgot-password" asp-page="./ForgotPassword">Zapomniałeś hasła?</a>
                                </p>
                                <p>
                                    Nie masz konta?
                                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Zarejestruj się</a>
                                </p>
                                <p>
                                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Wyślij ponownie potwierdzenie e-mail</a>
                                </p>
                            </div>
                        </form>
                    </section>
                </div>
            </center>
        </div>

</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
