@page
@model RegisterModel
@{
    ViewData["Title"] = "Register"; 
}

<h1>@ViewData["Title"]</h1>
<section class="projects-section bg-light">
    <center>
        <div class="container px-4 px-lg-5">
                <div class="col-md-4">
                    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <h2>Utwórz nowe konto</h2>
                        <hr/>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="mb-3">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email"/>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <input asp-for="Input.FirstName" class="form-control" aria-required="true" placeholder="Imię"/>
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <input asp-for="Input.LastName" class="form-control" aria-required="true" placeholder="Nazwisko"/>
                            <span asp-validation-for="Input.LastName" class="text-danger"></span>
                        </div>
                        
                        <div class="mb-3">
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Hasło"/>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Powtórz hasło"/>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Zarejestruj się</button>
                    </form>
                </div>
            </div>
    </center>
    
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
