.bg-sea-gradient {
    background: rgb(1,89,157);
    background: linear-gradient(90deg, rgba(1,89,157,.9) 0%, rgba(12,66,193,.9) 40%, rgba(88,28,195,.9) 60%, rgba(184,28,242,.9) 100%);
}

bg-blur {
    backdrop-filter: blur(5px);
}
