@model LibraryCodingNight.Models.BorrowedBook

@{
    ViewData["Title"] = "Wypożycz książkę";
    Layout = "_LayoutAdmin";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ApplicationUserId" class="control-label">Imię i nazwisko</label>
                <select asp-for="ApplicationUserId" class ="form-control" asp-items="ViewBag.ApplicationUserId"></select>
            </div>
            <div class="form-group mt-2">
                <label asp-for="BookId" class="control-label"></label>
                <select asp-for="BookId" class ="form-control" asp-items="ViewBag.BookId"></select>
            </div>
            <div class="form-group mt-2">
                <label asp-for="BorrowedFrom" class="control-label"></label>
                <input asp-for="BorrowedFrom" class="form-control" />
                <span asp-validation-for="BorrowedFrom" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="BorrowedTo" class="control-label"></label>
                <input asp-for="BorrowedTo" class="form-control" />
                <span asp-validation-for="BorrowedTo" class="text-danger"></span>
            </div>
<<<<<<< HEAD
            <div class="form-groupm mt-3">
=======
<<<<<<< HEAD
            <div class="form-group">
=======
            <div class="form-groupm mt-3">
>>>>>>> ff870c7e936c494cbabea16f567683eb157c0d27
>>>>>>> e33bd237b3dd58b3d1c4944898812027d61f8b0e
                <input type="submit" value="Wypożycz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót do listy</a>
</div>

