@model LibraryCodingNight.Models.SuggestedBook

@{
    ViewData["Title"] = "Zasugeruj zakup";
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";
}

<h1>Zaproponuj książkę do zakupu</h1>

<h4>Sugerowana książka</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="SuggestedBook">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SuggestedBookTitle" class="control-label"></label>
                <input asp-for="SuggestedBookTitle" class="form-control" />
                <span asp-validation-for="SuggestedBookTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SuggesteBookAuthor" class="control-label"></label>
                <input asp-for="SuggesteBookAuthor" class="form-control" />
                <span asp-validation-for="SuggesteBookAuthor" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Zasugeruj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
