@model LibraryCodingNight.Models.Author

@{
    ViewData["Title"] = "Utwórz";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h1>Dodaj</h1>

<h4>Autora</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AuthorName" class="control-label"></label>
                <input asp-for="AuthorName" class="form-control" />
                <span asp-validation-for="AuthorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

