@model IEnumerable<LibraryCodingNight.Models.Author>

@{
    ViewData["Title"] = "Autorzy";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Autorzy</h1>

<p>
    <a asp-action="Create">Dodaj nowego</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
		Imię i nazwisko
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AuthorId">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.AuthorId">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.AuthorId">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>

